@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-surface: #0A0A0A;
  --color-surface-hover: #171717;
  --color-border: #262626;
  --color-text-main: #FFFFFF;
  --color-text-muted: #A3A3A3;
  --color-accent: #3B82F6;
  
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-background text-text-main antialiased overflow-x-hidden font-sans;
  }
}
