DATABASE_URL=postgresql://username:password@host:port/database_name?sslmode=require
ENCRYPTION_KEY=your_cryptography_fernet_key_here
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=your_aws_region_here
FIREBASE_JSON_CONTENT={"type": "service_account", "project_id": "your_project_id", ...}
