DATABASE_URL=postgresql://username:password@host:port/database_name?sslmode=require
ENCRYPTION_KEY=your_cryptography_fernet_key_here
GROQ_API_KEY=your_groq_api_key_here
THERAPY_ENGINE_URL=your_therapy_engine_url_here
RUNPOD_API_KEY=your_runpod_api_key_here
ENGINE_MODEL_NAME=your_engine_model_name_here
FIREBASE_JSON_CONTENT={"type": "service_account", "project_id": "your_project_id", ...}
